* {
  margin: 0;
  padding: 0;
}

.signup-container {
  width: 100vw;
}

.signup-card {
  margin: 50px auto;
  width: 721px;
  height: 529px;
}

.signup-image {
  width: 721px;
  height: 400px;
  background-color: blue;
  background-image: url('/img/signup_thumb.jpg');
  background-size: cover;
  background-position: center;
}

.signup-info {
  margin: 30px auto;
  width: 721px;
  text-align: center;
}

.signup-button {
  margin: 30px auto;
  text-align: center;
  width: 285px;
  height: 46px;
  background-color: #f07469;
  border-color: #fb4357;
  line-height: 46px;
}

.signup-button span {
  background-color: #fb4357;
  display: inline-block;
  width: 280px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: white;
}

.signupForm-container {
  width: 100vw;
}

.signupForm-header {
  margin: 60px auto;
  text-align: center;
}

.signupForm-header>p {
  margin-top: 35px;
}

.signupForm-container h1 {
  color: rgb(34, 34, 34);
  font-weight: bold;
  font-size: 48px;
  font-family: cj_onlyone_new_medium;
  line-height: 48px;
}

.signupForm-container p {
  color: #555555;
  font-family: cj_onlyone_new_medium;
}

.signupForm-signupButton {
  height: 34px;
  margin-top: 40px;
  font-size: 19px;
  color: white;
  background-color: #fb4357;
  text-align: center;
  line-height: 34px;
  border-radius: 6px;
}

.signupForm-loginButton {
  height: 34px;
  margin-top: 10px;
  font-size: 19px;
  color: white;
  background-color: #666666;
  text-align: center;
  line-height: 34px;
  border-radius: 6px;
  border: #666666;
}

.signupForm-card {
  margin: 60px auto;
  width: 700px;
  height: 340px;
  padding: 50px;
  border-top: 1px solid rgb(34, 34, 34);
  background: rgb(248, 248, 248);
}

.signupForm {
  width: 240px;
  margin: 0 auto;
}

.signupForm>div {
  margin-bottom: 10px;
}

.movieList-container {
  width: 100vw;
  margin: 50px auto;
}

.movieList {
  width: 980px;
  margin: 0 auto;
}

.movieList-header {
  width: 100%;
  height: 60px;
  font-weight: 500;
  border-bottom: 3px solid #241d1e;

}

.movieList-header h3 {
  font-size: 36px;
  display: inline-block;
  color: #222;
}

.movieList-selectSorting {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: end;
  height: 30px;
}

.movieList-selectSorting label {
  display: hidden;
}

.movieList-sortButton {
  margin-left: 3px;
  display: inline-block;
  background-color: white;
  cursor: pointer;
  margin-right: 17px;
}

.movieRow {
  width: 980px;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  flex-wrap: wrap;
}

.movieRowCard {
  margin: 20px 13px 80px 13px;
  width: 300px;
  height: 600px;
}

.movieCard-header {
  height: 29px;
  font-size: 19px;
  color: white;
  background-color: #333333;
  text-align: center;
  line-height: 29px;
}

.movieCard-header strong {
  margin: 3px 0 3px 0;
}

/* .movieCard-image {
  width: 100%;
  height: 300px;
  background-image: url('/img/broker.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
} */

.movieCard-image {
  margin-top: 5px;
  width: 100%;
}

.movieCard-footer {
  margin-top: 5px;
}

.footer-title {
  display: block;
  color: #333333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.score {
  height: 26px;
  line-height: 26px;
  margin-top: 7px;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.score strong {
  color: #666666;
}

.score>span {
  color: #666666;
}


.ticketingPercent {
  margin-left: 4px;
}

.egg-container {
  display: flex;
  flex-direction: row;
}

.egg {
  margin-top: -4px;
  margin-right: 2px;
  width: 18px;
  height: 26px;
  vertical-align: middle;
  background: url('https://img.cgv.co.kr/R2014/images/sprite/sprite_egg.png') no-repeat -40px -47px;
}

.date {
  font-size: 11px;
  color: #666666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.movieCard-button {
  margin-top: 13px;
  width: 135px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: #fb4357;
  border-radius: 5px;
}

.movieDetail-container {
  width: 100vw;
}

.movieDetail-contentBox {
  width: 980px;
  margin: 50px auto;
  /* border: 1px black solid; */
}

.movieDetail-infoBox {
  display: flex;
  flex-direction: row;
  height: 260px;
}

.movieDetail-infoBox img {
  width: 185px;
}

.movieDetail-infoText {
  margin-left: 30px;
  flex-basis: 100%;
}


.movieDetail-title {
  display: flex;
  flex-direction: row;
}


.movieDetail-title h3 {
  color: #1a1919;
  font-size: 25px;
  font-weight: 500;
}

.movieDetail-status {
  padding: 0 5px 0 5px;
  text-align: center;
  border: 2px solid #3e82a4;
  color: #3e82a4;
  font-size: 20px;
  margin-left: 30px;
  line-height: 30px;
  font-weight: 550;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

.movieDetail-englishTitle {
  display: inline-block;
  color: #666666;
  margin-bottom: 10px;
}

.movieDetail-hr {
  margin-top: 13px;
  margin-bottom: 13px;
}

.movieDetail-spec {
  color: #333333;
  font-size: 13px;
  font-weight: 550;
  margin-bottom: 25px;
}

.movieDetail-commentInfoBox {
  margin: 30px 0 30px 0;
  padding: 30px;
  background-color: #F6F6F6;
  height: 70px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
}

.movieDetail-commentInfoBox-text {
  font-size: 20px;
  color: #212224;
  line-height: 1.8em;
  font-weight: 550;
}

.movieDetail-commentInfoBox-text span {
  color: #fb4357;
}

.movieDetail-commentInfoBox-count {
  margin-top: 4px;
}

.movieDetail-commentInfoBox-count span {
  color: #666666;
  font-weight: 400;
}

.movieDetail-commentInfoBox-count strong {
  color: #1a1919;
}

.movieDetail-commentInfo-redBtn {
  width: 110px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
  background-color: #fb4357;
  border-radius: 5px;
  cursor: pointer;
}

.movieDetail-commentInfo-blackBtn {
  margin-left: 10px;
  width: 110px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
  background-color: #666666;
  border-radius: 5px;
  cursor: pointer;
}

.movieDetail-commentInfoBox-firstColumn {
  margin-right: 80px;
}

.reviewForm-container {
  width: 980px;
  transition: 0.5s;
  overflow: hidden;
  max-height: 0;
}

.reviewForm-open {
  max-height: 200px;
}

.review-write-rate {
  border: #666666 solid;
  width: 60px;
  height: 30px;
}

.review-write-input {
  margin-top: 5px;
  border: #666666 solid;
  border-radius: 4px;
}

.review-write-button {
  margin-left: 5px;
  width: 50px;
  height: 30px;
  color: white;
  background-color: #666666;
  border: none;
  border-radius: 5px;
}

.reviewForm {
  width: 700px;
  margin: 0 auto;
}

.reviewForm label {
  display: block;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 8px;
}

.reviewList-container {
  border-top: #ddd solid 1px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 980px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.reviewItem-container {
  box-sizing: border-box;
  width: 490px;
  border-bottom: 1px #ddd solid;
}

.reviewList-container>div:nth-child(2n-1) {
  border-right: 1px #ddd solid;
  ;
}

.reviewItem-thumb {
  width: 62px;
  height: 62px;
  margin-right: 20px;
}

.reviewItem-thumb img {
  width: 100%;
  border-radius: 50%;
}

.reviewItem-firstRow {
  margin-left: 15px;
  margin-top: 20px;
  display: flex;
  height: 100px;
}

.reviewItem-header {
  display: flex;
  flex-direction: row;
}

.reviewItem-header>span {
  font-weight: 400;
  color: #666;
  margin-left: 8px;
}

.reviewItem-userInfo {
  flex-basis: 100%;
}

.reviewItem-userInfo>p {
  margin-top: 13px;
  font-weight: 550;
}

.reviewItem-bar {
  margin: 0 8px 0 8px;
}

.reviewItem-secondRow {
  margin-left: 90px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.reviewItem-secondRow img {
  margin-right: 8px;
}

.loginForm-container {
  width: 100vw;
}

.loginForm-wrapper {
  margin: 50px auto;
}

.loginForm-nav {
  width: 541px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.loginForm-nav>div {
  font-size: 13px;
  text-align: center;
  line-height: 37px;
  width: 110px;
  height: 37px;
  background: #898987;
  margin-right: 3px;
  border-radius: 5px 5px 0 0;
  color: white;
  font-weight: 800;
}

.loginForm-nav>div:last-child {
  width: 120px;
}

.loginForm-nav>div:first-child {
  background-color: #fb4357;
}

.loginForm {
  margin: 0 auto 50px auto;
  width: 541px;
  height: 350px;
  border-bottom: 2px solid #898987;
  border-top: 2px solid #898987;
}

.loginForm-header {
  margin-top: 30px;
  color: #666666;
  text-align: center;
}


.loginForm-contentBox input[type="text"] {
  display: block;
  margin-bottom: 5px;
  background: url('https://img.cgv.co.kr/R2014/images/sprite/sprite_icon.png') 12px -230px no-repeat;
  width: 250px;
  height: 35px;
  padding: 0 5px 0 40px;
  border: 2px solid #b5b5b5;
  line-height: 33px;
  font-weight: 400;
}

.loginForm-contentBox {
  width: 300px;
  margin: 40px auto 0 auto;
}

.loginForm-contentBox input[type="password"] {
  display: block;
  margin-bottom: 5px;
  background: url('https://img.cgv.co.kr/R2014/images/sprite/sprite_icon.png') 12px -261px no-repeat;
  width: 250px;
  height: 35px;
  padding: 0 5px 0 40px;
  border: 2px solid #b5b5b5;
  line-height: 33px;
  font-weight: 400;
}

.loginForm-outerButton {
  display: flex;
  align-items: center;
  width: 300px;
  height: 35px;
  border: #fb4357 1.5px solid;
  box-sizing: border-box;
  justify-content: center;
}

.loginForm-innerButton {
  width: 296px;
  height: 31px;
  background-color: #fb4357;
  color: white;
  text-align: center;
  line-height: 31px;
  font-weight: 500;
  cursor: pointer;
}

.loginForm-footer {
  width: 300px;
  margin: 10px auto 0 auto;
}

.loginForm-footer>label {
  font-size: 13px;
  margin-right: 5px;
  text-decoration: underline;
}

.loginForm-footer-first {
  margin-left: 33px;
}

.loginForm-naver {
  width: 300px;
  margin: 20px auto;
}

.loginForm-naver>img {
  width: 100%;
}

.loginForm-signup {
  width: 720px;
  height: 60px;
  border: 1px solid #d5d4ca;
  font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
  display: flex;
  flex-direction: row;
  margin: 0 auto 50px auto;
  line-height: 60px;
  padding: 0 10px 0 30px;
  align-items: center;
}

.loginForm-signup-text>strong {
  margin-right: 15px;
}

.loginForm-signup-button {
  text-align: center;
  width: 180px;
  color: #fb4357;
  border: 2px solid #fb4357;
  height: 35px;
  line-height: 35px;
  margin-left: 20px;
  text-decoration: none;
}

.movieRow>div:nth-child(1)>.movieCard-header:nth-child(1) {
  background-color: #fb4357;
}

.movieRow>div:nth-child(2)>.movieCard-header:nth-child(1) {
  background-color: #fb4357;
}

.movieRow>div:nth-child(3)>.movieCard-header:nth-child(1) {
  background-color: #fb4357;
}

.timeTableList-container {
  width: 100vw;
}

.timeTableList-contentBox {
  margin: 70px auto;
  width: 980px;
  border-top: #333333 solid 1px;
  border-bottom: #333333 solid 1px;
}

.timeTableItem-container {
  width: 920px;
  height: 300px;
  padding: 30px 40px 30px 40px;
  border-bottom: 1px solid #333333;
}

.timeTableItem-header {
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.timeTableItem-header > label {
  font-size: 30px;
  font-weight: 800;
}

.timeTable-status {
  display: inline-block;
  width: 70px;
  height: 30px;
  border: #3e82a4 2px solid;
  line-height: 30px;
  text-align: center;
  font-weight: 600;
  color: #3e82a4;
  margin-left: 20px;
  margin-right: 20px;
}

.timeTableItem-header > span {
  color: #666666;
  font-weight: 600;
}

.timeTableItem {
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  border: #666 solid 1px;
}

.timeTableItem > span {
  margin-top: 3px;
  color: #3e82a4;
  font-weight: 500;
}

.timeTable-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}